{% extends "layout.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}
<h1 class="mb-4">Connexion</h1>
<form method="post">
    <div class="mb-3">
        <label for="nom_utilisateur" class="form-label">Nom d'utilisateur</label>
        <input type="text" class="form-control" id="nom_utilisateur" name="nom_utilisateur" required>
    </div>
    <div class="mb-3">
        <label for="mot_de_passe" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="mot_de_passe" name="mot_de_passe" required>
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
</form>
{% endblock %}
